LabManagerCliente/Service References/AdministradorAnotacionService/AdministradorAnotacion3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorAnotacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorAnotacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:element name="getAnotaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnotacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getAnotacionesResult" nillable="true" type="q1:Lista_View_Anotaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnotacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="newAnotacion" nillable="true" type="q2:View_Anotaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnotacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="AddAnotacionResult" nillable="true" type="q3:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAnotacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="editAnotacion" nillable="true" type="q4:View_Anotaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAnotacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="EditAnotacionResult" nillable="true" type="q5:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadosAnotacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadosAnotacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getEstadosAnotacionResult" nillable="true" type="q6:Lista_View_EstadoAnotacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>