LabManagerCliente/Service References/AdministradorAnotacionService/AdministradorAnotacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministradorAnotacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAdministradorAnotacion_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorAnotacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorAnotacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorAnotacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorAnotacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorAnotacion_getAnotaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:getAnotaciones" />
  </wsdl:message>
  <wsdl:message name="IAdministradorAnotacion_getAnotaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAnotacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorAnotacion_AddAnotacion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnotacion" />
  </wsdl:message>
  <wsdl:message name="IAdministradorAnotacion_AddAnotacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnotacionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorAnotacion_EditAnotacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAnotacion" />
  </wsdl:message>
  <wsdl:message name="IAdministradorAnotacion_EditAnotacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAnotacionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorAnotacion_getEstadosAnotacion_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstadosAnotacion" />
  </wsdl:message>
  <wsdl:message name="IAdministradorAnotacion_getEstadosAnotacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstadosAnotacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorAnotacion">
    <wsdl:operation name="getAnotaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorAnotacion/getAnotaciones" message="tns:IAdministradorAnotacion_getAnotaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorAnotacion/getAnotacionesResponse" message="tns:IAdministradorAnotacion_getAnotaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnotacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorAnotacion/AddAnotacion" message="tns:IAdministradorAnotacion_AddAnotacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorAnotacion/AddAnotacionResponse" message="tns:IAdministradorAnotacion_AddAnotacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAnotacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorAnotacion/EditAnotacion" message="tns:IAdministradorAnotacion_EditAnotacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorAnotacion/EditAnotacionResponse" message="tns:IAdministradorAnotacion_EditAnotacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEstadosAnotacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorAnotacion/getEstadosAnotacion" message="tns:IAdministradorAnotacion_getEstadosAnotacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorAnotacion/getEstadosAnotacionResponse" message="tns:IAdministradorAnotacion_getEstadosAnotacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministradorAnotacion" type="tns:IAdministradorAnotacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAnotaciones">
      <soap:operation soapAction="http://tempuri.org/IAdministradorAnotacion/getAnotaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnotacion">
      <soap:operation soapAction="http://tempuri.org/IAdministradorAnotacion/AddAnotacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAnotacion">
      <soap:operation soapAction="http://tempuri.org/IAdministradorAnotacion/EditAnotacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadosAnotacion">
      <soap:operation soapAction="http://tempuri.org/IAdministradorAnotacion/getEstadosAnotacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAdministradorAnotacion" type="tns:IAdministradorAnotacion">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAdministradorAnotacion_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAnotaciones">
      <soap:operation soapAction="http://tempuri.org/IAdministradorAnotacion/getAnotaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnotacion">
      <soap:operation soapAction="http://tempuri.org/IAdministradorAnotacion/AddAnotacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAnotacion">
      <soap:operation soapAction="http://tempuri.org/IAdministradorAnotacion/EditAnotacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadosAnotacion">
      <soap:operation soapAction="http://tempuri.org/IAdministradorAnotacion/getEstadosAnotacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministradorAnotacion">
    <wsdl:port name="BasicHttpBinding_IAdministradorAnotacion" binding="tns:BasicHttpBinding_IAdministradorAnotacion">
      <soap:address location="http://localhost:59293/Administrador/AdministradorAnotacion.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAdministradorAnotacion" binding="tns:BasicHttpsBinding_IAdministradorAnotacion">
      <soap:address location="https://localhost:44300/Administrador/AdministradorAnotacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>