LabManagerCliente/Service References/AdministradorAnotacionService/AdministradorAnotacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dtos.Basico" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorAnotacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:complexType name="Lista_View_Anotaciones">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos" base="q1:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfView_Anotaciones" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lista_View_Anotaciones" nillable="true" type="tns:Lista_View_Anotaciones" />
  <xs:complexType name="ArrayOfView_Anotaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="View_Anotaciones" nillable="true" type="tns:View_Anotaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfView_Anotaciones" nillable="true" type="tns:ArrayOfView_Anotaciones" />
  <xs:complexType name="View_Anotaciones">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos" base="q2:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnotacionId" type="xs:long" />
          <xs:element minOccurs="0" name="CreadoId" type="xs:long" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoAnotacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoAnotacionId" type="xs:int" />
          <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModificadoId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="NombreCreador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NombreModifica" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="View_Anotaciones" nillable="true" type="tns:View_Anotaciones" />
  <xs:complexType name="Lista_View_EstadoAnotacion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Dtos" base="q3:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfEstadoAnotacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lista_View_EstadoAnotacion" nillable="true" type="tns:Lista_View_EstadoAnotacion" />
  <xs:complexType name="ArrayOfEstadoAnotacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoAnotacion" nillable="true" type="tns:EstadoAnotacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoAnotacion" nillable="true" type="tns:ArrayOfEstadoAnotacion" />
  <xs:complexType name="EstadoAnotacion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Dtos" base="q4:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoAnotacionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EstadoAnotacion" nillable="true" type="tns:EstadoAnotacion" />
</xs:schema>