LabManagerCliente/Service References/CopiasDeSeguridadService/CopiasDeSeguridad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dtos.Gestion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dtos.Gestion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Gestion/CopiasDeSeguridad.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59293/Gestion/CopiasDeSeguridad.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:complexType name="InformacionCopiasDeSeguridad">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos" base="q1:DtoBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Archivos" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="Default" type="xs:boolean" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InformacionCopiasDeSeguridad" nillable="true" type="tns:InformacionCopiasDeSeguridad" />
</xs:schema>