LabManagerCliente/Service References/CopiasDeSeguridadService/CopiasDeSeguridad3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Gestion/CopiasDeSeguridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Gestion" />
  <xs:import schemaLocation="http://localhost:59293/Gestion/CopiasDeSeguridad.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:element name="getInformacionBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInformacionBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Gestion" minOccurs="0" name="getInformacionBackupResult" nillable="true" type="q1:InformacionCopiasDeSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBackup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="CreateBackupResult" nillable="true" type="q2:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="RestoreBackupResult" nillable="true" type="q3:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>