LabManagerCliente/Service References/InactivarEstudianteService/InactivarEstudiante.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InactivarEstudiante" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IInactivarEstudiante_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Gestion/InactivarEstudiante.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Gestion/InactivarEstudiante.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Gestion/InactivarEstudiante.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Gestion" />
      <xsd:import schemaLocation="http://localhost:59293/Gestion/InactivarEstudiante.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInactivarEstudiante_getParametros_InputMessage">
    <wsdl:part name="parameters" element="tns:getParametros" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_getParametros_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParametrosResponse" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_getInformacionInactivar_InputMessage">
    <wsdl:part name="parameters" element="tns:getInformacionInactivar" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_getInformacionInactivar_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInformacionInactivarResponse" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_InactivarEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:InactivarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_InactivarEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:InactivarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_ActivarEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_ActivarEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_IsUserActive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserActive" />
  </wsdl:message>
  <wsdl:message name="IInactivarEstudiante_IsUserActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserActiveResponse" />
  </wsdl:message>
  <wsdl:portType name="IInactivarEstudiante">
    <wsdl:operation name="getParametros">
      <wsdl:input wsaw:Action="http://tempuri.org/IInactivarEstudiante/getParametros" message="tns:IInactivarEstudiante_getParametros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInactivarEstudiante/getParametrosResponse" message="tns:IInactivarEstudiante_getParametros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInformacionInactivar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInactivarEstudiante/getInformacionInactivar" message="tns:IInactivarEstudiante_getInformacionInactivar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInactivarEstudiante/getInformacionInactivarResponse" message="tns:IInactivarEstudiante_getInformacionInactivar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InactivarEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IInactivarEstudiante/InactivarEstudiantes" message="tns:IInactivarEstudiante_InactivarEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInactivarEstudiante/InactivarEstudiantesResponse" message="tns:IInactivarEstudiante_InactivarEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IInactivarEstudiante/ActivarEstudiantes" message="tns:IInactivarEstudiante_ActivarEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInactivarEstudiante/ActivarEstudiantesResponse" message="tns:IInactivarEstudiante_ActivarEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IInactivarEstudiante/IsUserActive" message="tns:IInactivarEstudiante_IsUserActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInactivarEstudiante/IsUserActiveResponse" message="tns:IInactivarEstudiante_IsUserActive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInactivarEstudiante" type="tns:IInactivarEstudiante">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getParametros">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/getParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformacionInactivar">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/getInformacionInactivar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactivarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/InactivarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/ActivarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserActive">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/IsUserActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IInactivarEstudiante" type="tns:IInactivarEstudiante">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IInactivarEstudiante_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getParametros">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/getParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformacionInactivar">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/getInformacionInactivar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactivarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/InactivarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/ActivarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserActive">
      <soap:operation soapAction="http://tempuri.org/IInactivarEstudiante/IsUserActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InactivarEstudiante">
    <wsdl:port name="BasicHttpBinding_IInactivarEstudiante" binding="tns:BasicHttpBinding_IInactivarEstudiante">
      <soap:address location="http://localhost:59293/Gestion/InactivarEstudiante.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IInactivarEstudiante" binding="tns:BasicHttpsBinding_IInactivarEstudiante">
      <soap:address location="https://localhost:44300/Gestion/InactivarEstudiante.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>