LabManagerCliente/Service References/PrestamoRecepcionService/PrestamoRecepcion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DtoBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoBase" nillable="true" type="tns:DtoBase" />
  <xs:complexType name="DtoInt">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Valor" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoInt" nillable="true" type="tns:DtoInt" />
</xs:schema>