LabManagerCliente/Service References/PrestamoRecepcionService/PrestamoRecepcion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrestamoRecepcion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IPrestamoRecepcion_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/PrestamoRecepcion/PrestamoRecepcion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/PrestamoRecepcion/PrestamoRecepcion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/PrestamoRecepcion/PrestamoRecepcion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Registro" />
      <xsd:import schemaLocation="http://localhost:59293/PrestamoRecepcion/PrestamoRecepcion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
      <xsd:import schemaLocation="http://localhost:59293/PrestamoRecepcion/PrestamoRecepcion.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrestamoRecepcion_getInfoPrestamoRecepcion_InputMessage">
    <wsdl:part name="parameters" element="tns:getInfoPrestamoRecepcion" />
  </wsdl:message>
  <wsdl:message name="IPrestamoRecepcion_getInfoPrestamoRecepcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInfoPrestamoRecepcionResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamoRecepcion_getRestriccionesEquipo_InputMessage">
    <wsdl:part name="parameters" element="tns:getRestriccionesEquipo" />
  </wsdl:message>
  <wsdl:message name="IPrestamoRecepcion_getRestriccionesEquipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRestriccionesEquipoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamoRecepcion_PrestarRecibirEquipo_InputMessage">
    <wsdl:part name="parameters" element="tns:PrestarRecibirEquipo" />
  </wsdl:message>
  <wsdl:message name="IPrestamoRecepcion_PrestarRecibirEquipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrestarRecibirEquipoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamoRecepcion_getTimeLogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:getTimeLogOut" />
  </wsdl:message>
  <wsdl:message name="IPrestamoRecepcion_getTimeLogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTimeLogOutResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrestamoRecepcion">
    <wsdl:operation name="getInfoPrestamoRecepcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamoRecepcion/getInfoPrestamoRecepcion" message="tns:IPrestamoRecepcion_getInfoPrestamoRecepcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamoRecepcion/getInfoPrestamoRecepcionResponse" message="tns:IPrestamoRecepcion_getInfoPrestamoRecepcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRestriccionesEquipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamoRecepcion/getRestriccionesEquipo" message="tns:IPrestamoRecepcion_getRestriccionesEquipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamoRecepcion/getRestriccionesEquipoResponse" message="tns:IPrestamoRecepcion_getRestriccionesEquipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrestarRecibirEquipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamoRecepcion/PrestarRecibirEquipo" message="tns:IPrestamoRecepcion_PrestarRecibirEquipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamoRecepcion/PrestarRecibirEquipoResponse" message="tns:IPrestamoRecepcion_PrestarRecibirEquipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTimeLogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamoRecepcion/getTimeLogOut" message="tns:IPrestamoRecepcion_getTimeLogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamoRecepcion/getTimeLogOutResponse" message="tns:IPrestamoRecepcion_getTimeLogOut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrestamoRecepcion" type="tns:IPrestamoRecepcion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInfoPrestamoRecepcion">
      <soap:operation soapAction="http://tempuri.org/IPrestamoRecepcion/getInfoPrestamoRecepcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRestriccionesEquipo">
      <soap:operation soapAction="http://tempuri.org/IPrestamoRecepcion/getRestriccionesEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrestarRecibirEquipo">
      <soap:operation soapAction="http://tempuri.org/IPrestamoRecepcion/PrestarRecibirEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeLogOut">
      <soap:operation soapAction="http://tempuri.org/IPrestamoRecepcion/getTimeLogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IPrestamoRecepcion" type="tns:IPrestamoRecepcion">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IPrestamoRecepcion_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInfoPrestamoRecepcion">
      <soap:operation soapAction="http://tempuri.org/IPrestamoRecepcion/getInfoPrestamoRecepcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRestriccionesEquipo">
      <soap:operation soapAction="http://tempuri.org/IPrestamoRecepcion/getRestriccionesEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrestarRecibirEquipo">
      <soap:operation soapAction="http://tempuri.org/IPrestamoRecepcion/PrestarRecibirEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeLogOut">
      <soap:operation soapAction="http://tempuri.org/IPrestamoRecepcion/getTimeLogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrestamoRecepcion">
    <wsdl:port name="BasicHttpBinding_IPrestamoRecepcion" binding="tns:BasicHttpBinding_IPrestamoRecepcion">
      <soap:address location="http://localhost:59293/PrestamoRecepcion/PrestamoRecepcion.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IPrestamoRecepcion" binding="tns:BasicHttpsBinding_IPrestamoRecepcion">
      <soap:address location="https://localhost:44300/PrestamoRecepcion/PrestamoRecepcion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>