LabManagerCliente/Service References/AdministradorEquipoService/AdministradorEquipo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministradorEquipo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAdministradorEquipo_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorEquipo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorEquipo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorEquipo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorEquipo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorEquipo_getEquipos_InputMessage">
    <wsdl:part name="parameters" element="tns:getEquipos" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_getEquipos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEquiposResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_AddEquipo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEquipo" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_AddEquipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEquipoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_EditEquipo_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEquipo" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_EditEquipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEquipoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_getHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:getHistorial" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_getHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_IsCodigoInventario_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCodigoInventario" />
  </wsdl:message>
  <wsdl:message name="IAdministradorEquipo_IsCodigoInventario_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCodigoInventarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorEquipo">
    <wsdl:operation name="getEquipos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorEquipo/getEquipos" message="tns:IAdministradorEquipo_getEquipos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorEquipo/getEquiposResponse" message="tns:IAdministradorEquipo_getEquipos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEquipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorEquipo/AddEquipo" message="tns:IAdministradorEquipo_AddEquipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorEquipo/AddEquipoResponse" message="tns:IAdministradorEquipo_AddEquipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEquipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorEquipo/EditEquipo" message="tns:IAdministradorEquipo_EditEquipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorEquipo/EditEquipoResponse" message="tns:IAdministradorEquipo_EditEquipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorEquipo/getHistorial" message="tns:IAdministradorEquipo_getHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorEquipo/getHistorialResponse" message="tns:IAdministradorEquipo_getHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCodigoInventario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorEquipo/IsCodigoInventario" message="tns:IAdministradorEquipo_IsCodigoInventario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorEquipo/IsCodigoInventarioResponse" message="tns:IAdministradorEquipo_IsCodigoInventario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministradorEquipo" type="tns:IAdministradorEquipo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEquipos">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/getEquipos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEquipo">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/AddEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEquipo">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/EditEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistorial">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/getHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCodigoInventario">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/IsCodigoInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAdministradorEquipo" type="tns:IAdministradorEquipo">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAdministradorEquipo_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEquipos">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/getEquipos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEquipo">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/AddEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEquipo">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/EditEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistorial">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/getHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCodigoInventario">
      <soap:operation soapAction="http://tempuri.org/IAdministradorEquipo/IsCodigoInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministradorEquipo">
    <wsdl:port name="BasicHttpBinding_IAdministradorEquipo" binding="tns:BasicHttpBinding_IAdministradorEquipo">
      <soap:address location="http://localhost:59293/Administrador/AdministradorEquipo.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAdministradorEquipo" binding="tns:BasicHttpsBinding_IAdministradorEquipo">
      <soap:address location="https://localhost:44300/Administrador/AdministradorEquipo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>