LabManagerCliente/Service References/SeguridadService/Seguridad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Seguridad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISeguridad_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Seguridad/Seguridad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Seguridad/Seguridad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Seguridad/Seguridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Seguridad" />
      <xsd:import schemaLocation="http://localhost:59293/Seguridad/Seguridad.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeguridad_Validar_InputMessage">
    <wsdl:part name="parameters" element="tns:Validar" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_Validar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_MenuUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_MenuUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_MenuReportesUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuReportesUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_MenuReportesUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuReportesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_MenuPrincipalUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuPrincipalUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_MenuPrincipalUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuPrincipalUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_MenuGestionUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuGestionUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_MenuGestionUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuGestionUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridad">
    <wsdl:operation name="Validar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridad/Validar" message="tns:ISeguridad_Validar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridad/ValidarResponse" message="tns:ISeguridad_Validar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridad/MenuUsuario" message="tns:ISeguridad_MenuUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridad/MenuUsuarioResponse" message="tns:ISeguridad_MenuUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuReportesUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridad/MenuReportesUsuario" message="tns:ISeguridad_MenuReportesUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridad/MenuReportesUsuarioResponse" message="tns:ISeguridad_MenuReportesUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuPrincipalUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridad/MenuPrincipalUsuario" message="tns:ISeguridad_MenuPrincipalUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridad/MenuPrincipalUsuarioResponse" message="tns:ISeguridad_MenuPrincipalUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuGestionUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridad/MenuGestionUsuario" message="tns:ISeguridad_MenuGestionUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridad/MenuGestionUsuarioResponse" message="tns:ISeguridad_MenuGestionUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeguridad" type="tns:ISeguridad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validar">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/Validar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/MenuUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuReportesUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/MenuReportesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuPrincipalUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/MenuPrincipalUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuGestionUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/MenuGestionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISeguridad" type="tns:ISeguridad">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISeguridad_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validar">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/Validar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/MenuUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuReportesUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/MenuReportesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuPrincipalUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/MenuPrincipalUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuGestionUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/MenuGestionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Seguridad">
    <wsdl:port name="BasicHttpBinding_ISeguridad" binding="tns:BasicHttpBinding_ISeguridad">
      <soap:address location="http://localhost:59293/Seguridad/Seguridad.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISeguridad" binding="tns:BasicHttpsBinding_ISeguridad">
      <soap:address location="https://localhost:44300/Seguridad/Seguridad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>