LabManagerCliente/Service References/SeguridadService/Seguridad1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Seguridad/Seguridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Seguridad" />
  <xs:element name="Validar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Seguridad" minOccurs="0" name="ValidarResult" nillable="true" type="q1:View_UsuarioAutentica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos.Seguridad" minOccurs="0" name="MenuUsuarioResult" nillable="true" type="q2:Lista_View_Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuReportesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuReportesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dtos.Seguridad" minOccurs="0" name="MenuReportesUsuarioResult" nillable="true" type="q3:Lista_View_Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuPrincipalUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuPrincipalUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dtos.Seguridad" minOccurs="0" name="MenuPrincipalUsuarioResult" nillable="true" type="q4:Lista_View_Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuGestionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuGestionUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dtos.Seguridad" minOccurs="0" name="MenuGestionUsuarioResult" nillable="true" type="q5:Lista_View_Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>