LabManagerCliente/Service References/AdministradorDocenteService/AdministradorDocente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorDocente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorDocente.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:element name="getDocentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiltroTexto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getDocentesResult" nillable="true" type="q1:Lista_View_Docentes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="newDocente" nillable="true" type="q2:View_Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="AddDocenteResult" nillable="true" type="q3:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="editDocente" nillable="true" type="q4:View_Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="EditDocenteResult" nillable="true" type="q5:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFacultad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiltroTexto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getFacultadResult" nillable="true" type="q6:Lista_View_Facultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistorialBasico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistorialBasicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getHistorialBasicoResult" nillable="true" type="q7:Lista_View_Historial_Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>