LabManagerCliente/Service References/AdministradorDocenteService/AdministradorDocente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministradorDocente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAdministradorDocente_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorDocente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorDocente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorDocente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorDocente.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorDocente_getDocentes_InputMessage">
    <wsdl:part name="parameters" element="tns:getDocentes" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_getDocentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDocentesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_AddDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDocente" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_AddDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_EditDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDocente" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_EditDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_getFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:getFacultad" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_getFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_getHistorialBasico_InputMessage">
    <wsdl:part name="parameters" element="tns:getHistorialBasico" />
  </wsdl:message>
  <wsdl:message name="IAdministradorDocente_getHistorialBasico_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHistorialBasicoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorDocente">
    <wsdl:operation name="getDocentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorDocente/getDocentes" message="tns:IAdministradorDocente_getDocentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorDocente/getDocentesResponse" message="tns:IAdministradorDocente_getDocentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorDocente/AddDocente" message="tns:IAdministradorDocente_AddDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorDocente/AddDocenteResponse" message="tns:IAdministradorDocente_AddDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorDocente/EditDocente" message="tns:IAdministradorDocente_EditDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorDocente/EditDocenteResponse" message="tns:IAdministradorDocente_EditDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorDocente/getFacultad" message="tns:IAdministradorDocente_getFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorDocente/getFacultadResponse" message="tns:IAdministradorDocente_getFacultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHistorialBasico">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorDocente/getHistorialBasico" message="tns:IAdministradorDocente_getHistorialBasico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorDocente/getHistorialBasicoResponse" message="tns:IAdministradorDocente_getHistorialBasico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministradorDocente" type="tns:IAdministradorDocente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocentes">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/getDocentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocente">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/AddDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDocente">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/EditDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacultad">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/getFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistorialBasico">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/getHistorialBasico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAdministradorDocente" type="tns:IAdministradorDocente">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAdministradorDocente_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocentes">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/getDocentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocente">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/AddDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDocente">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/EditDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacultad">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/getFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistorialBasico">
      <soap:operation soapAction="http://tempuri.org/IAdministradorDocente/getHistorialBasico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministradorDocente">
    <wsdl:port name="BasicHttpBinding_IAdministradorDocente" binding="tns:BasicHttpBinding_IAdministradorDocente">
      <soap:address location="http://localhost:59293/Administrador/AdministradorDocente.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAdministradorDocente" binding="tns:BasicHttpsBinding_IAdministradorDocente">
      <soap:address location="https://localhost:44300/Administrador/AdministradorDocente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>