LabManagerCliente/Service References/DeudoresService/Deudores1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Reportes/Deudores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Reportes" />
  <xs:element name="getDeudores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeudoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Reportes" minOccurs="0" name="getDeudoresResult" nillable="true" type="q1:Lista_View_Deudores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>