LabManagerCliente/Service References/DeudoresService/Deudores3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dtos.Reportes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dtos.Reportes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Reportes/Deudores.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:complexType name="Lista_View_Deudores">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos" base="q1:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfView_Deudores" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lista_View_Deudores" nillable="true" type="tns:Lista_View_Deudores" />
  <xs:complexType name="ArrayOfView_Deudores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="View_Deudores" nillable="true" type="tns:View_Deudores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfView_Deudores" nillable="true" type="tns:ArrayOfView_Deudores" />
  <xs:complexType name="View_Deudores">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos" base="q2:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreadaPor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Facultad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModificadaPor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Valor" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="View_Deudores" nillable="true" type="tns:View_Deudores" />
</xs:schema>