LabManagerCliente/Service References/AdministradorFacultadService/AdministradorFacultad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministradorFacultad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAdministradorFacultad_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorFacultad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorFacultad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorFacultad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorFacultad.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorFacultad_getFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:getFacultad" />
  </wsdl:message>
  <wsdl:message name="IAdministradorFacultad_getFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorFacultad_AddFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFacultad" />
  </wsdl:message>
  <wsdl:message name="IAdministradorFacultad_AddFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorFacultad_EditFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:EditFacultad" />
  </wsdl:message>
  <wsdl:message name="IAdministradorFacultad_EditFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditFacultadResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorFacultad">
    <wsdl:operation name="getFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorFacultad/getFacultad" message="tns:IAdministradorFacultad_getFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorFacultad/getFacultadResponse" message="tns:IAdministradorFacultad_getFacultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorFacultad/AddFacultad" message="tns:IAdministradorFacultad_AddFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorFacultad/AddFacultadResponse" message="tns:IAdministradorFacultad_AddFacultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorFacultad/EditFacultad" message="tns:IAdministradorFacultad_EditFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorFacultad/EditFacultadResponse" message="tns:IAdministradorFacultad_EditFacultad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministradorFacultad" type="tns:IAdministradorFacultad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFacultad">
      <soap:operation soapAction="http://tempuri.org/IAdministradorFacultad/getFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacultad">
      <soap:operation soapAction="http://tempuri.org/IAdministradorFacultad/AddFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditFacultad">
      <soap:operation soapAction="http://tempuri.org/IAdministradorFacultad/EditFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAdministradorFacultad" type="tns:IAdministradorFacultad">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAdministradorFacultad_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFacultad">
      <soap:operation soapAction="http://tempuri.org/IAdministradorFacultad/getFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacultad">
      <soap:operation soapAction="http://tempuri.org/IAdministradorFacultad/AddFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditFacultad">
      <soap:operation soapAction="http://tempuri.org/IAdministradorFacultad/EditFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministradorFacultad">
    <wsdl:port name="BasicHttpBinding_IAdministradorFacultad" binding="tns:BasicHttpBinding_IAdministradorFacultad">
      <soap:address location="http://localhost:59293/Administrador/AdministradorFacultad.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAdministradorFacultad" binding="tns:BasicHttpsBinding_IAdministradorFacultad">
      <soap:address location="https://localhost:44300/Administrador/AdministradorFacultad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>