LabManagerCliente/Service References/AdministradorFacultadService/AdministradorFacultad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorFacultad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorFacultad.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:element name="getFacultad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiltroTexto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getFacultadResult" nillable="true" type="q1:Lista_View_Facultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFacultad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="newFacultad" nillable="true" type="q2:View_Facultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="AddFacultadResult" nillable="true" type="q3:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFacultad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="editFacultad" nillable="true" type="q4:View_Facultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="EditFacultadResult" nillable="true" type="q5:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>