LabManagerCliente/Service References/AdministradorAuxiliarService/AdministradorAuxiliar2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorAuxiliar.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
  <xs:import schemaLocation="http://localhost:59293/Administrador/AdministradorAuxiliar.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:element name="getAuxiliares">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiltroTexto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAuxiliaresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getAuxiliaresResult" nillable="true" type="q1:Lista_View_Auxiliar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAuxiliaresActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAuxiliaresActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getAuxiliaresActivosResult" nillable="true" type="q2:Lista_View_Auxiliar_Activo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuxiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="newAuxiliar" nillable="true" type="q3:View_Auxiliar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuxiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="AddAuxiliarResult" nillable="true" type="q4:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAuxiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="editAuxiliar" nillable="true" type="q5:View_Auxiliar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAuxiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="EditAuxiliarResult" nillable="true" type="q6:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>