LabManagerCliente/Service References/MantenimientoService/Mantenimiento1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Gestion/Mantenimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Gestion" />
  <xs:import schemaLocation="http://localhost:59293/Gestion/Mantenimiento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:element name="getInformacioneliminarEstudiantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInformacioneliminarEstudiantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Gestion" minOccurs="0" name="getInformacioneliminarEstudiantesResult" nillable="true" type="q1:InformacionEliminarEstudiantesInactivos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEstudiantesInactivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEstudiantesInactivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dtos" minOccurs="0" name="EliminarEstudiantesInactivosResult" nillable="true" type="q2:DtoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>