LabManagerCliente/Service References/MantenimientoService/Mantenimiento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Mantenimiento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMantenimiento_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Gestion/Mantenimiento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Gestion/Mantenimiento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Gestion/Mantenimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Gestion" />
      <xsd:import schemaLocation="http://localhost:59293/Gestion/Mantenimiento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMantenimiento_getInformacioneliminarEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:getInformacioneliminarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IMantenimiento_getInformacioneliminarEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInformacioneliminarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimiento_EliminarEstudiantesInactivos_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEstudiantesInactivos" />
  </wsdl:message>
  <wsdl:message name="IMantenimiento_EliminarEstudiantesInactivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEstudiantesInactivosResponse" />
  </wsdl:message>
  <wsdl:portType name="IMantenimiento">
    <wsdl:operation name="getInformacioneliminarEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimiento/getInformacioneliminarEstudiantes" message="tns:IMantenimiento_getInformacioneliminarEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimiento/getInformacioneliminarEstudiantesResponse" message="tns:IMantenimiento_getInformacioneliminarEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudiantesInactivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimiento/EliminarEstudiantesInactivos" message="tns:IMantenimiento_EliminarEstudiantesInactivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimiento/EliminarEstudiantesInactivosResponse" message="tns:IMantenimiento_EliminarEstudiantesInactivos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMantenimiento" type="tns:IMantenimiento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInformacioneliminarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IMantenimiento/getInformacioneliminarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudiantesInactivos">
      <soap:operation soapAction="http://tempuri.org/IMantenimiento/EliminarEstudiantesInactivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IMantenimiento" type="tns:IMantenimiento">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMantenimiento_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInformacioneliminarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IMantenimiento/getInformacioneliminarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudiantesInactivos">
      <soap:operation soapAction="http://tempuri.org/IMantenimiento/EliminarEstudiantesInactivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mantenimiento">
    <wsdl:port name="BasicHttpBinding_IMantenimiento" binding="tns:BasicHttpBinding_IMantenimiento">
      <soap:address location="http://localhost:59293/Gestion/Mantenimiento.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IMantenimiento" binding="tns:BasicHttpsBinding_IMantenimiento">
      <soap:address location="https://localhost:44300/Gestion/Mantenimiento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>