LabManagerCliente/Service References/MantenimientoService/Mantenimiento3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dtos.Gestion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dtos.Gestion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Gestion/Mantenimiento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
  <xs:complexType name="InformacionEliminarEstudiantesInactivos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos" base="q1:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="EstudiantesCandidatosEliminar" type="xs:int" />
          <xs:element minOccurs="0" name="EstudiantesInactivos" type="xs:int" />
          <xs:element minOccurs="0" name="RegistrosHistorialEliminar" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InformacionEliminarEstudiantesInactivos" nillable="true" type="tns:InformacionEliminarEstudiantesInactivos" />
</xs:schema>