LabManagerCliente/Service References/AdministradorSedeService/AdministradorSede.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministradorSede" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAdministradorSede_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorSede.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorSede.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorSede.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorSede.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorSede_getSede_InputMessage">
    <wsdl:part name="parameters" element="tns:getSede" />
  </wsdl:message>
  <wsdl:message name="IAdministradorSede_getSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSedeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorSede_AddSede_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSede" />
  </wsdl:message>
  <wsdl:message name="IAdministradorSede_AddSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSedeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorSede_EditSede_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSede" />
  </wsdl:message>
  <wsdl:message name="IAdministradorSede_EditSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSedeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorSede">
    <wsdl:operation name="getSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorSede/getSede" message="tns:IAdministradorSede_getSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorSede/getSedeResponse" message="tns:IAdministradorSede_getSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorSede/AddSede" message="tns:IAdministradorSede_AddSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorSede/AddSedeResponse" message="tns:IAdministradorSede_AddSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorSede/EditSede" message="tns:IAdministradorSede_EditSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorSede/EditSedeResponse" message="tns:IAdministradorSede_EditSede_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministradorSede" type="tns:IAdministradorSede">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSede">
      <soap:operation soapAction="http://tempuri.org/IAdministradorSede/getSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSede">
      <soap:operation soapAction="http://tempuri.org/IAdministradorSede/AddSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSede">
      <soap:operation soapAction="http://tempuri.org/IAdministradorSede/EditSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAdministradorSede" type="tns:IAdministradorSede">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAdministradorSede_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSede">
      <soap:operation soapAction="http://tempuri.org/IAdministradorSede/getSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSede">
      <soap:operation soapAction="http://tempuri.org/IAdministradorSede/AddSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSede">
      <soap:operation soapAction="http://tempuri.org/IAdministradorSede/EditSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministradorSede">
    <wsdl:port name="BasicHttpBinding_IAdministradorSede" binding="tns:BasicHttpBinding_IAdministradorSede">
      <soap:address location="http://localhost:59293/Administrador/AdministradorSede.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAdministradorSede" binding="tns:BasicHttpsBinding_IAdministradorSede">
      <soap:address location="https://localhost:44300/Administrador/AdministradorSede.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>