LabManagerCliente/Service References/EstadoMultasService/EstadoMultas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/Reportes/EstadoMultas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Reportes" />
  <xs:element name="getEstadoMultas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicial" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFinal" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoMultasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Reportes" minOccurs="0" name="getEstadoMultasResult" nillable="true" type="q1:Lista_View_EstadoMultas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>