LabManagerCliente/Service References/VisorEquiposService/VisorEquipos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59293/VisorEquipos/VisorEquipos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
  <xs:element name="getEquiposPrestados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquiposPrestadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dtos.Basico" minOccurs="0" name="getEquiposPrestadosResult" nillable="true" type="q1:Lista_View_Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>