LabManagerCliente/Service References/AdministradorMultaService/AdministradorMulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministradorMulta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAdministradorMulta_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorMulta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorMulta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorMulta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dtos.Basico" />
      <xsd:import schemaLocation="http://localhost:59293/Administrador/AdministradorMulta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorMulta_getMultas_InputMessage">
    <wsdl:part name="parameters" element="tns:getMultas" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMulta_getMultas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMultasResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMulta_AddMulta_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMulta" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMulta_AddMulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMultaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMulta_EditMulta_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMulta" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMulta_EditMulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMultaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMulta_getEstadosMulta_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstadosMulta" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMulta_getEstadosMulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstadosMultaResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorMulta">
    <wsdl:operation name="getMultas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMulta/getMultas" message="tns:IAdministradorMulta_getMultas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMulta/getMultasResponse" message="tns:IAdministradorMulta_getMultas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMulta/AddMulta" message="tns:IAdministradorMulta_AddMulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMulta/AddMultaResponse" message="tns:IAdministradorMulta_AddMulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMulta/EditMulta" message="tns:IAdministradorMulta_EditMulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMulta/EditMultaResponse" message="tns:IAdministradorMulta_EditMulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEstadosMulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMulta/getEstadosMulta" message="tns:IAdministradorMulta_getEstadosMulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMulta/getEstadosMultaResponse" message="tns:IAdministradorMulta_getEstadosMulta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministradorMulta" type="tns:IAdministradorMulta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMultas">
      <soap:operation soapAction="http://tempuri.org/IAdministradorMulta/getMultas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMulta">
      <soap:operation soapAction="http://tempuri.org/IAdministradorMulta/AddMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMulta">
      <soap:operation soapAction="http://tempuri.org/IAdministradorMulta/EditMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadosMulta">
      <soap:operation soapAction="http://tempuri.org/IAdministradorMulta/getEstadosMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAdministradorMulta" type="tns:IAdministradorMulta">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAdministradorMulta_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMultas">
      <soap:operation soapAction="http://tempuri.org/IAdministradorMulta/getMultas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMulta">
      <soap:operation soapAction="http://tempuri.org/IAdministradorMulta/AddMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMulta">
      <soap:operation soapAction="http://tempuri.org/IAdministradorMulta/EditMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadosMulta">
      <soap:operation soapAction="http://tempuri.org/IAdministradorMulta/getEstadosMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministradorMulta">
    <wsdl:port name="BasicHttpBinding_IAdministradorMulta" binding="tns:BasicHttpBinding_IAdministradorMulta">
      <soap:address location="http://localhost:59293/Administrador/AdministradorMulta.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAdministradorMulta" binding="tns:BasicHttpsBinding_IAdministradorMulta">
      <soap:address location="https://localhost:44300/Administrador/AdministradorMulta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>